/* Media Queries for Responsiveness */

/* ------------------Laptop( lg)------------ */

@media (max-width: 1024px){
    #nav_buttons ul li a{
      font-size: 11px;
      padding: 0 2px;
    }
    
    }
    /* ------------------End Laptop( lg)------------ */
    
    /* ------------------Tablets(md)------------ */
    
    @media (max-width: 768px) {
    
      #menu_button {
        display: block;
      margin-left: -40px;
      font-size: 1.5rem;
      }
      #offcanvasWithBothOption{
        width: 75%;
      }
    
    
      .row div ul li a {
        font-size: 12px; 
      }
    
      .row div li {
        margin: 1px; 
      }
    
      footer {
        padding: 2rem 1rem;
        font-size: 5px;
      }
    
      .row div p, .row div h6 {
        font-size: 10px; 
      }
      .row div p i{
        padding: 3px;
        margin-top: 5px;
      }
      
      .modal-content {
        margin-top:10vh;
        max-width: 90%;
      }
      .navbar-brand{
    display: flex;
    justify-content: center;
    position: relative;
    
      }
      .navbar-brand img{
        height: 40px;
        width: 50px;
        position: absolute;
        right: 0%;
        bottom: 20%;
      }
      .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      
      
    }
    /* ------------------End Tablets( md)------------ */
    
    /* ------------------Mobile( sm)------------ */
    
      @media screen and (max-width: 576px) {
    
        .row div ul li a {
          font-size: 12px; 
        }
      
        .row div li {
          margin-bottom: 0.4rem;
        }
      
        footer {
          padding: 1rem 0;
        }
      
        .row div p, .row div h6 {
          font-size: 14px; 
        }
        .modal-dialog {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .modal-content {
          margin-top: 30vh;
          max-width: 90%;
        }
        #nav_buttons {
          display: none;
        }
        
      .HeaderIcons {
        font-size: 1.2rem;
      }
          #menu-bar{
       display: flex;
       justify-content:space-between;
      }
        #menu_button {
          display: block;
        margin-left: -40px;
        font-size: 1.5rem;
      
    
        }
        header{
          padding: 2rem;
        }
        #searchButtons{
        width: 100%;
    }
        
        .modal-dialog {
          max-width: 90%;
        }
    
        .modal-content {
          width: 100%;
          padding: 1rem;
          margin: auto;
        }
    
        .modal-header img {
          height: 50px;
          width: 50px;
        }
    
        .loginHeader {
          flex-direction: column;
          align-items: center;
          position: relative;
        }
    
        .btn {
          font-size: 0.875rem;
          padding: 0.5rem 1rem;
        }
    
        .modal-body h5 {
          font-size: 1.25rem;
        }
    
        .modal-footer {
          flex-direction: column;
          align-items: center;
        }
    
        .modal-footer small, .modal-footer a {
          font-size: 0.875rem;
        }
    
        .btn-close {
          position: absolute;
          top: 20%;
          right: 5%;
        }
        .modal-dialog {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .modal-content {
          margin-top: 10vh;
          max-width: 90%;
        }
        
      }
    
      /* ------------------end Mobile( sm)------------ */

      




/* Media Queries for Responsiveness */

/* ------------------Laptop( xl)------------ */
@media (min-width: 1025px){

}
/* ------------------Laptop( lg)------------ */
@media (max-width: 1024px){
.card-body h6{
  font-size: .78rem;
  text-align: left;
  margin: -2px;
 }
 .card-body small{
  font-size: 0.72rem;
  margin: -2px;
  color: #0d6d30;
 }
 .card-body button{
  font-size: 0.7rem;
 }
 .carousel-item {
  min-height: 300px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .carousel-img1 {
    width: 120px;
    height: 120px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: 0%;
    border-radius: 10% 10%;
    overflow: hidden;
    object-fit: fill;
  }
  .carousel-img1 img{
  height: 100%;
  width: 100%;
  }
    .carousel-caption {
      text-align: center;
    }
    
    .testimonial-name {
      font-size: 18px;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      text-transform: capitalize;
      color: var(--para);
    }
    .testimonial-icon {
      font-size: 25px;
    }
    .carousel-caption p {
      background: var(--gradient2);
      background-clip: text;
      color: transparent;
      font-size: 15px;
    }
    
}

/* ------------------End Laptop( lg)------------ */

/* ------------------Tablets( md)------------ */

@media (max-width: 768px)  {
.carousel-item img{
  height: 19rem;
  }

.carousel-control-next i,.carousel-control-prev i{
    background-color: #0d6d30;
    /* padding: 10px; */
    border-radius: 45%;
    font-size: .7rem;
    color: white;

}
.content-wrapper h4{
    font-family: 'poppins', sans-serif;
    color: #0f6d3e;
    font-size: .8rem;
    line-height:1rem;
    font-weight: 500;
}
.container div h3{
    font-size: 1.1rem;
}

.card-body h6{
font-size: .8rem;
text-align: left;
margin: -2px;
}
.card-body small{
font-size: 0.7rem;
margin: -2px;
color: #0d6d30;
}
.card-body button{
font-size: 0.7rem;
}

.chooseniwa_logo div img{
height: 15px;
width:15px
}
.chooseniwa_logo div h5{
font-size: 0.8rem;
}
.aboutniwa img {
height: 200px;
width: 400px;
}

.aboutniwa h6 {
font-size: 2.4rem;
width: 300px;
}

.aboutniwa1 p {
font-size: 0.9rem;
}
.aboutniwa1 .btn {
font-size: 0.7rem;
}
.section-heading {
font-size: 24px;
}
.carousel-item {
min-height: 300px;
margin: 10px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.carousel-img1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top: 0%;
  border-radius: 10% 10%;
  overflow: hidden;
  object-fit: fill;
}
.carousel-img1 img{
height: 100%;
width: 100%;
}
  .carousel-caption {
    text-align: center;
  }
  
  .testimonial-name {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: var(--para);
  }
  .testimonial-icon {
font-size: 22px;
}
.carousel-caption p {
background: var(--gradient2);
background-clip: text;
color: transparent;
font-size: 14px;
}
}
/* ------------------End Tablets( md)------------ */


/* ------------------Mobile(L)------------ */


@media (max-width:425px) {
  .aboutniwa {
      flex-direction: column;
      align-items: center;
  }

  .aboutniwa img {
      height: 150px;
      width: 300px;
  }

  .aboutniwa h6 {
      font-size: 2rem;
      width: 250px;
      top: 60%;
  }

  .aboutniwa1 p {
      font-size: 0.8rem;
  }

  .aboutniwa1 .btn {
      font-size: 0.7rem;
  }
  .carousel-item {
    min-height: 300px;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    .carousel-img1 {
      width: 80px;
      height: 80px;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      top: 0%;
      border-radius: 10% 10%;
      overflow: hidden;
      object-fit: fill;
    }
    .carousel-img1 img{
    height: 100%;
    width: 100%;
    }
      .carousel-caption {
        text-align: center;
      }
      
      .testimonial-name {
        font-size: 5px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        color: var(--para);
      }
      .testimonial-icon {
    font-size: 20px;
    }
    .carousel-caption p {
      background: var(--gradient2);
      background-clip: text;
      color: transparent;
      font-size: 12px;
    }
}
/* ------------------end Mobile( sm)------------ */


/* ------------------Extra Mobile( md)------------ */
@media (max-width: 375px) {


  .aboutniwa img {
      height: 120px;
      width: 240px;
  }

  .aboutniwa h6 {
      font-size: 1.6rem;
      width: 200px;
      top: 50%;
  }

  .aboutniwa1 p {
      font-size: 0.7rem;
  }

  .aboutniwa1 .btn {
      font-size: 0.7rem;
  }
  .carousel-item {
    min-height: 250px;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    .carousel-img1 {
      width: 50px;
      height: 50px;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      top: 0%;
      border-radius: 10% 10%;
      overflow: hidden;
      object-fit: fill;
    }
    .carousel-img1 img{
    height: 100%;
    width: 100%;
    }
      .carousel-caption {
        text-align: center;
      }
      
      .testimonial-name {
        font-size: 5px;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        color: var(--para);
      }
      .testimonial-icon {
    font-size: 16px;
    }
    .carousel-caption p {
      background: var(--gradient2);
      background-clip: text;
      color: transparent;
      font-size: 10px;
    }
}





/* ------------------start extra small Mobile( none)------------ */



@media (max-width:320px) {
  .carousel-control-next i,.carousel-control-prev i{
    background-color:var(--Carouselbutton);
    padding: 20px;
    border-radius: 45%;
    font-size: 1rem;
    color: var(--third);
}
.carousel-item img{
    height:20rem;
    width:40rem;
    margin-left: -10px;
}
.AppDownload{
  margin-top: -10px;
}
  .section-heading {
    font-size: 20px;
  }

  .carousel-img {
    width: 80px;
    height: 80px;
  }
  .testimonial-name {
    font-size: 5px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: var(--para);
  }

 

  .carousel-caption p {
    font-size: 12px;
  }

  .testimonial-icon {
    font-size: 25px;
  }
}

/* ------------------end extra small Mobile( none)------------ */