{% extends 'app_common/base.html' %}
{% load static %} 
{% block title %} AllAddress {% endblock title %} 
{% block content %}
<style>
  .active {
      color: #ffffff;
      background-color: #00836C;
      border-radius: 5px;
      outline: none;
    }
    #card-text {
      font-size: 14px ;
    }
</style>
<div class="" style="min-height: 60vh;">
 
  <div class="row mx-0">
    {% include 'users/user/index.html' %}
    <div class="col-sm-9 col-lg-9 mt-5">
      <h5 class="card-title mb-2 ms-3 mt-3" >
        {{request.user.full_name}} Your Address
      </h5>
      <div class="row px-0 mx-0 mt-3">
        {% for i in addresses %}
        <div class="col-md-6">
          <div
            class="card mx-2 mb-2 text-black"
            style="background-color: #9fe2bf">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 m text-muted">
                Address {{forloop.counter}}
              </h6>
              <p class="card-text" >
                <li id="card-text">Address 1: {{i.Address1}}</li>
                <li id="card-text">Address 2: {{i.Address2}}</li>
                <li id="card-text">Country: {{i.country}}</li>
                <li id="card-text">Mobile No: {{i.mobile_no}}</li>
                <li id="card-text">State: {{i.state}}</li>
                <li id="card-text">City: {{i.city}}</li>
                <li id="card-text">pincode: {{i.pincode}}</li>
              </p>
              <a
                href="{% url 'users:profile_delete_address' i.id %}"
                class="card-link btn btn-danger"
                ><i class="fas fa-trash"></i></a
              >
              <a
                href="{% url 'users:profile_update_address' i.id %}"
                class="card-link btn hover  " style="background-color: #00836C;"
                ><i class="fas fa-pencil text-white"></i></a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
