{% extends 'app_common/base.html' %}
{% load static %} 
{% block title %} AllAddress {% endblock title %} 
{% block content %}
<style>
  .active {
      color: #ffffff;
      /* background-color: #00836C; */
      border-radius: 5px;
      outline: none;
    }
    #card-text {
      font-size: 14px ;
    }
</style>
<div class="" style="min-height: 60vh;">
 
  <div class="row mx-0">
    {% include 'users/user/index.html' %}
    <div class="col-sm-9 col-lg-9 mt-5">
      <h5 class="card-title mb-2 ms-3 mt-3" >
        {{request.user.full_name}} Your Address
      </h5>
      <div class="row px-0 mx-0 mt-3">
        {% for i in addresses %}
        <div class="col-md-6">
          <div class="card w-75 my-3">
                        
            <div class=" d-flex justify-content-around pt-lg-3" >
               <div>
                <ul class="p-0 address-details ">
                    <li>Address 1: </li>
                    <li>Address 2: </li>
                    <li>Mobile:</li>
                    <li>City:</li>
                    <li>State:</li>
                    <li>Country: </li>
                    <li>Zipcode: </li>
                </ul>
               </div>
               <div>
                <ul class="p-0 address-detailss">
                    <li>{{i.landmark1}}</li>
                    <li>{{i.landmark2}}</li>
                    <li>{{i.mobile_no}}</li>
                    <li>{{i.city}}</li>
                    <li>{{i.state}}</li>
                    <li>{{i.country}}</li>
                    <li>{{i.zipcode}}</li>
                </ul>
               </div>
               
            </div>
            <div class="d-flex justify-content-center pb-lg-3 adress_button">
                <button type="button" class="u-button pencil " data-bs-toggle="modal" data-bs-target="#updateAddressModal" data-id="{{ i.id }}" data-landmark1="{{ i.landmark1 }}" data-landmark2="{{ i.landmark2 }}" data-country="{{ i.country }}" data-state="{{ i.state }}" data-city="{{ i.city }}" data-zipcode="{{ i.zipcode }}">
                    <i class="bi bi-pencil"> Edit </i>
                </button>
                <a href="{% url 'cart:delete_address' i.id %}">
                    <button type="button"class="u-button trash ms-lg-3">
                        <i class="bi bi-trash"> Delete</i>
                    </button>
                </a>
            </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
