{% extends 'app_common/base.html' %}
{% load static %}
{% block title %}
    Profile Update
{% endblock title %}

{% block content %}
<style>
    body{
        background-color: #f8f9fa;
    }
    #Container {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 5px;
    }
    .btn-custom{
        width: 100% ;
        max-width: 500px;
    }
    .form-controL {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom:.4em;
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: none !important;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s ease-in-out;
        font-size: 14px;
    }
    .form-controL:focus {
        border-color: #95d8bc;
        box-shadow: 0 0 8px rgba(128, 255, 187, 0.5);
        outline: none;
    }
    label{
        font-weight: bold;
        font-size: 14px;
    }
    .active {
      color: #ffffff;
      background-color: #00836C;
      border-radius: 5px;
      outline: none;
    }
    .form-container {
        width: 100%;
        max-width: 450px;;
        margin: auto;
    }
</style>
<div class=""></div>
<div class="row mx-0" style="min-height: 60vh;">
    {% include 'users/user/index.html' %}
    <div class="col-sm-9 mt-5">
        <div class="row px-5 py-5 form-container" id="Container">
            <form method="post" enctype="multipart/form-data" class=" text-wrap">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center pt-3  ">
                    <button class="btn btn-success    btn-custom" type="submit" >Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
