{% extends 'users/authtemp/master.html' %}
{% load static %}
{% block content %}
<div class="container" >
    <h1>Forgot Password</h1>
    <p>Please enter your email address to receive a password reset link.</p>

    <!-- Display form -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Submit</button>
    </form>

    <!-- Display messages -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <a href="{% url 'users:login' %}">Back to Login</a>
</div>
{% endblock content %}
