{% extends 'users/authtemp/master.html'%}
{% block title %} forgotpassword {% endblock title %}
{% block content %}
<div class="form-group mt-2">
    {% include 'snippets/alert.html' %}
</div>
<div class="card">
    <h2 class="text-center mb-4">Forget Password</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-floating mb-3">
          {{ form.as_p }}
          </div>
         
      <button class="regis-btn  btn-primary btn-block mt-4"type="submit">Reset</button>
  </form>
  </div>


{% endblock content %}