{% extends 'users/authtemp/master.html' %}
{% load static %}
{% block content %}



{% comment %}
<!-- Section: Design Block -->
<div class="background-radial-gradient overflow-hidden h-100 mb-0">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            The best offer <br />
            <span style="color: hsl(218, 81%, 75%)">for your business</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Temporibus, expedita iusto veniam atque, magni tempora mollitia
            dolorum consequatur nulla, neque debitis eos reprehenderit quasi
            ab ipsum nisi dolorem modi. Quos?
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <form method="post" action="">
             
                    {% csrf_token %}
                              <h5 class="mt-4 mb-3"> Login1</h5>         
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label text-white">{{field.label}}:</label>
                        {{field}}
                    </div>
                    {% endfor %}
                                   
                    <div>
                        <button class="btn btn-primary w-full mt-5" type="submit">Log in</button>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'users:forgot_password' %}"
                            class="text-sm text-white mt-5 mb-5 text-primary-hover text-underline" style="font-weight: bold;">Forgot
                            password?</a>
                    </div>
                    <div class="form-group mt-2">
                        {% include 'snippets/alert.html' %}
                    </div>
                    
                </form>
            </div>
          </div>
          
        </div>
        <div class="position-lg-relative bottom-0 end-0 my-12 mx-12 text-center text-lg-end">
            <small>Dont't have an account?</small>
            <a href="{% url 'users:signup' %}" class="text-warning text-sm font-semibold">Sign up</a>
        </div>
        <div class="text-center">
          <a href="{% url 'users:password-reset' %}" class="text-sm text-white text-primary-hover font-semibold" style="font-weight: bold;">Forgot?</a>
      </div>
      </div>
      
    </div>
</div>

{% endcomment %}

<h2>Login</h2>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<a href="{% url 'users:password-reset' %}" class="text-sm text-white text-primary-hover font-semibold" style="font-weight: bold;">Forgot?</a>

<div class="text-center">
</div>
{% endblock content %}