{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} update category {% endblock title %}
{% block content %}

<section class="py-lg-2">
    <div class="conatiner">
        <h4 class="form-header headings_h4 text-center my-lg-4 p-lg-3">Update Category</h4>
        <div class="d-flex justify-content-center m-0 p-0">
            <p class="m-0 p-0">{% include 'snippets/alert.html' %}</p>
        </div>
        <div class="product-form-container w-50" >
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-warning w-100">Update</button>
            </form>
    </div>
    </div>
</section>

{% endblock content %}