{% extends 'users/admin/base.html' %}
{% load static %}
{% block content %}
<header class="d-flex container">
    <h4>Add Category</h4>
    <p> {% include 'snippets/alert.html' %}</p>
</header>
<main class="py-6">
    <div class="container-fluid">
        <div class=" gap-4 ">
            <div class="card create_test mt-4 p-3 ">
                <form method="post" enctype="multipart/form-data" class="lh-lg">
                   
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn w-100" id="save-btn">Save</button>
                </form>
                
            </div>
                
        </div>
    </div>
</main>
{% endblock content %}