{% extends 'users/admin/base.html' %}
{% load static %}
{% block content %}
<section class="py-lg-2">
    <div class="conatiner">
        <h4 class="form-header headings_h4 text-center my-lg-4 p-lg-3">Add Category</h4>
        <p class="text-center"> {% include 'snippets/alert.html' %}</p>
        <div class="product-form-container w-50">
            <form method="post" enctype="multipart/form-data" class="lh-lg">
                   
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn w-100" id="save-btn">Save</button>
            </form>
    </div>
    </div>
</section>

{% endblock content %}