{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} Category List {% endblock title %}
{% block content%}
<header class="d-flex container">
  <h4>All Category</h4>
  <p>{% include 'snippets/alert.html' %}</p>
</header>




  
  <main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
      <div class="vstack gap-4">
        <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">
          <div class="hstack gap-2">
            <div class="input-group input-group-sm input-group-inline">
              
            </div>
          </div>
          
        </div>
  
        <div class="  tablecard w-75 align-self-center">
          <div class="table-responsive">
            <table class="table table-hover table-nowrap">
              <thead class="table-light" >
                <tr >
                  <th class="px-5" id="tb-head" scope="col"><b>Name</b></th>
                  <th class="px-5" id="tb-head"scope="col"><b>Image</b></th>
                  <th class="px-5" id="tb-head"scope="col"><b>Action</b></th>
                </tr>
              </thead>
              <tbody id="test_table_tbody">
                {% for catagory in catagory_list %}
                <tr>
                  <td class="tb-body">
                    <a class="text-heading text-black font-semibold"
                      
                      >{{catagory.title}}</a
                    >
                  </td>
  
                  <td class="tb-body">
                    <img class="cat-img2"
                      src="{{ catagory.image.url }}"
                      alt="Passbook Image"
                       />
                  </td>
  
  
  
                  <td class="tb-body">
                    <a href="{% url 'product:category_update' catagory.id %} " class="BtM">
                      <i class='bx bx-edit text-primary' ></i>
                    </a> &nbsp;
                    <a
                      href="{% url 'product:catagory_delete' catagory.id %}">
                      <button
                        type="button"
                        class="BtM1">
                        <i class='bx bx-trash text-danger'></i>
                      </button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer border-0 py-2 "></div>
        </div>
      </div>
    </div>
  </main>
  
  <!-- test create modal -->
  

{% endblock content %}