{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} All Products {% endblock title %}
{% block content %}

<center>
    {% include 'snippets/alert.html' %}
</center>

<head>
    <style>
    .tablecard {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .cat-img2 {
        height: 90px;
        width: 90px !important;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .catagory-btn {
        color: black;
        margin: auto 10px;
        padding: 5px 10px;
        background-color: #f2f5f7;
        border: none;
        border-radius: 5px;
        box-shadow: inset 4px 2px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
    }

    .BtM {
        box-shadow: inset 4px 2px 5px rgba(0, 0, 0, 0.3);
    }

    #tb-head {
        background-color: #28B673;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }

    .BtM2 {
        border-radius: 4px;
        background: #e0e0e0;
        box-shadow: 4px 4px 17px #f0eeee, -4px -4px 17px #ffffff;
    }

    .headinG {
        color: navy;
        font-weight: 500;
        font-size: 30px;
        margin-left: 13px;
        font-family: 'Poppins', sans-serif;
    }

    #test_table_tbody {
        font-family: 'Poppins', sans-serif;
    }

    .px-5 {
        text-align: center;
    }
    </style>
</head>
<header>
    <div class="container-fluid px-3">
        <div class="border-bottom pt-6">
            <div class="row align-items-center">
                <div class="col-sm col-12">
                    <h1 class="h2 ls-tight headinG">PRODUCT LIST</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
        <div class="vstack gap-4">
            <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">
                <form class="my-3 mx-2" action="{% url 'product:product_search' %}" method="post">
                    {% csrf_token %}
                    <div class="hstack gap-2">

                        <select style="width: 6rem;" name="filter_by" class="form-select"
                            aria-label="Default select example">
                            <option selected value="uid">Id</option>
                            <option value="name">Name</option>
                        </select>

                        <input type="text" name="query" placeholder="Search Here" class="form-control" required />

                        <button type="submit" class="btn btn-sm BtM2 btn-neutral">
                            <i class="fa-solid fa-magnifying-glass" style="color: #8c00ff;"></i>
                        </button>

                    </div>
                </form>
                <div class="btn-group catagory-btn ">
                    <button data-bs-toggle="modal" data-bs-target="#select_filter" class=" btn-sm btn-neutral">
                        <i class="fa-solid fa-filter  mt-2" style="color: #098cf1;"></i>
                    </button>

                    <a href="{% url 'product:product_add' %}" class=" btn-sm btn-neutral" style="color: black;">
                        <i class="bi bi-plus">Create New Product</i>
                    </a>
                </div>
            </div>

            <div class="tablecard">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th class="px-5" id="tb-head" scope="col">Product ID</th>
                                <th class="px-5" id="tb-head" scope="col">Name</th>
                                <th class="px-5" id="tb-head" scope="col">Image</th>
                                <th class="px-5" id="tb-head" scope="col">Brand</th>
                                <th class="px-5" id="tb-head" scope="col">Price</th>
                                <th class="px-5" id="tb-head" scope="col">Stock</th>
                                <th class="px-5" id="tb-head" scope="col">Action</th>
                            </tr>
                        </thead>
                        <form method="post" action="">
                            {% csrf_token %}
                            <tbody id="test_table_tbody">
                                {% for product in data_list %}
                                <tr {% if product.stock <= 10 %} style="background: #f6a4a4;" {% endif %}>
                                    <td class="px-5">
                                        <a class="text-heading text-primary-hover font-semibold"
                                            href="{% url 'product:product_update' product.uid %}">
                                            {{ product.uid }}
                                        </a>
                                    </td>
                                    <td class="px-5">{{ product.name|truncatewords:5 }}</td>
                                    <td class="">
                                        {% if product.images.all %}
                                        <div class="row">
                                            {% for image in product.images.all|slice:":4" %}
                                            <div class="col-6 col-md-6 mb-1 px-1">
                                                <img class="cat-img2" src="{{ MEDIA_URL }}{{ image.image.url }}"
                                                    alt="Image">
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="px-5">{{ product.brand }}</td>
                                    <td class="px-5">{{ product.product_discount_price }}</td>
                                    <td class="px-5">{{ product.stock }}</td>
                                    <td class="px-5">
                                        <a href="{% url 'product:product_update' product.uid %}"
                                            class="btn btn-sm btn-square btn-neutral BtM">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a onclick="delete_product(this)" p_name="{{ product.name }}"
                                            p_uid="{{ product.uid }}">
                                            <button type="button"
                                                class="btn btn-sm btn-square btn-neutral text-danger-hover BtM">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </a>

                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </form>

                    </table>

                </div>

            </div>
        </div>
    </div>
</main>


<!-- Product delete modal -->

<div class="modal fade" id="product_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="product_delete_name">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="confirm_delete_btn" href="">
                    <button type="button" class="btn btn-primary">Confirm Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Product filter modal -->
<div class="modal fade" id="select_filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="display:flex;" class="product_filter">
                    <a href="">Trending</a>
                    <a href="">New Products</a>
                    <a href="">Best-Seller</a>
                    {% comment %} <a href="">Hidden</a> {% endcomment %}
                    <a href="">All</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
function delete_product(obj) {
    var product_name = obj.getAttribute("p_name");
    var product_uid = obj.getAttribute("p_uid");
    var confirm_delete_btn = document.getElementById("confirm_delete_btn");
    var product_delete_name = document.getElementById("product_delete_name");
    confirm_delete_btn.setAttribute("href", "{% url 'product:product_delete' '0' %}".replace('0', product_uid));
    product_delete_name.innerHTML = "Are you sure you want to delete <b>" + product_name + "</b>?";
    $('#product_delete').modal('show');
}
</script>

{% endblock content %}
