{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} All Products {% endblock title %}
{% block content %}



<header class="d-flex">
    <h4>All Products</h4>
    <p>{% include 'snippets/alert.html' %}</p>
</header>

<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
        <div class="vstack gap-4">
            <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">
                <form class="my-3 mx-2" action="{% url 'product:product_search' %}" method="post">
                    {% csrf_token %}
                    <div class="hstack gap-2">
                        <select style="width: 6rem;" name="filter_by" class="form-select" aria-label="Default select example">
                            <option selected value="pk">ID</option>
                            <option value="name">Name</option>
                        </select>
                        <span  class="input-group">
                            <input type="text" name="query" placeholder="Search Here" class="form-control" required />
                            <button type="submit" class="input-group-text"><i class='bx bx-search-alt-2' ></i></button>
                        </span>
                    </div>
                </form>
                <div class="btn-group catagory-btn">
                    <!-- <button data-bs-toggle="modal" data-bs-target="#select_filter" class="btn-sm btn-neutral">
                        <i class='bx bx-filter-alt' ></i>
                    </button> -->
                    <a href="{% url 'product:product_add' %}">
                        <i class='bx bxs-plus-square'></i> Create New Product
                    </a>
                </div>
            </div>

            <div class="tablecard">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th class="px-5" id="tb-head" scope="col">Product ID</th>
                                <th class="px-5" id="tb-head" scope="col">Name</th>
                                <th class="px-5" id="tb-head" scope="col">Image</th>
                                <th class="px-5" id="tb-head" scope="col">Brand</th>
                            </tr>
                        </thead>
                        <tbody id="test_table_tbody">
                            {% for product in products %}
                            <tr>
                                <td class="px-5">
                                    
                                        {{ product.pk }}
                                </td>
                                <td class="px-5">{{ product.name|truncatewords:5 }}</td>
                                <td class="px-5">
                                    {% if product.image %}
                                        <img class="cat-img2" src="{{ product.image.url }}" alt="Image">
                                    {% endif %}
                                </td>
                                <td class="px-5">{{ product.brand }}</td>
                                
                        
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock content %}
