{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} Add Product {% endblock title %}
{% block content %}
<section class="py-lg-2">
    <div class="conatiner">
        <h4 class="form-header headings_h4 text-center my-lg-4 p-lg-3">Add Product</h4>
        <div class="product-form-container">
      
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Main product form always visible -->
            <div class="form-group">
                {{ form.as_p }}
            </div>
    
            <button type="submit" class="submit-button">Save Product</button>
        </form>
    </div>
    </div>
</section>




{% endblock content %}
