{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} all orders {% endblock title %}
{% block content %}

<center>
  {% include 'snippets/alert.html' %}
</center>
<style>
   .tablecard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #tb-head{
      background-color:#28B673;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
    }
    .BtM{
    box-shadow: inset 4px 2px 5px rgba(0, 0, 0, 0.2);
    }
    .headinG{
    color: navy;
    font-weight: 500;
    font-size: 30px;
    margin-left:13px;
    font-family: 'Poppins', sans-serif;
    }
    #test_table_tbody{
    font-family: 'Poppins', sans-serif;
    }
    .px-5{
      text-align: center;
    }
</style>
<header>
  <div class="container-fluid">
    <div class="border-bottom pt-6">
      <div class="row align-items-center">
        <div class="col-sm col-12">
          <h1 class="h2 headinG ls-tight">ORDER LIST</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="py-6 bg-surface-secondary">


  <div class="container-fluid">
    <div class="vstack gap-4">
      <div class="utility_order">
        <button class="btn btn-outline-primary my-1" data-bs-toggle="modal" data-bs-target="#order_filter">
          <i class="fa-solid fa-filter" style="color: #005cfa;"></i>
          filter
        </button>

        <form method="get" action="{% url 'orders:admin_order_search' %}">
          {% csrf_token %}
          <input class="form-control" type="text" name="query" placeholder="SEARCH ID" required />
          <button class="btn">
            <i class="fa-solid fa-magnifying-glass fa-shake" style="color: #a805ff;"></i>
          </button>
        </form>
      </div>

      <div class="card tablecard mt-3">
        <div class="table-responsive">
          <table class="table table-hover table-nowrap">
            <thead class="table-light">
              <tr>
                <th class="px-5" id="tb-head" scope="col">Order ID</th>
                <th class="px-5" id="tb-head" scope="col">Amount</th>
                <th class="px-5" id="tb-head" scope="col">Status</th>
                <th class="px-5" id="tb-head" scope="col">Payment</th>
                <th class="px-5" id="tb-head" scope="col">PAYMENT METHOD</th>

              </tr>
            </thead>
            <tbody id="test_table_tbody">
              {% for order in order_list %}
              <tr>
                <td class="px-5">
                  <a target="_blank" href="{% url 'orders:admin_order_details' order.uid %}">
                    {{order.uid}}
                  </a>
                </td>
                <td class="px-5">
                  <!-- {% if 'final_value' in order.order_meta_data %}
                    {{ order.order_meta_data.final_value }}
                  {% else %}
                    {{ order.order_meta_data.final_cart_value }}
                  {% endif %} -->
                  {{order.order_value}}
                </td>
                <td class="px-5">{{order.order_status}}</td>
                <td class="px-5">{{order.payment_status}}</td>
                <td class="px-5">{{order.payment_method}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>


<!-- filter -->
<div class="modal fade" id="order_filter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Filter By Order Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="order_filter">

        <form id="" method="get" action="{% url 'orders:order_status_search' %}">
          {% csrf_token %}
          <div >
            <select class="form-select" aria-label="Default select example" name="filter_by">
              {% for status in order_status_options %}
                <option value="{{status.1}}">{{status.1}}</option>
              {% endfor %}
            </select>

            <button class="btn btn-primary" type="submit">
              search
            </button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>

{% endblock content %}
{% block js %}
{% endblock js %}
