<style>
    .alert-success
    {
        background:none;
        border: none;
        color: rgb(77, 224, 77);
    }
    .alert-info{
        background:none;
        border: none;
        color: rgb(255, 0, 0);
    }
    .alert-danger{
        background:none;
        border: none;
        color: rgb(255, 0, 0);
    }

</style>
{% if messages %}
    
    {% for message in messages %}
        <div style="" class="alert {{message.tags}} m-0 p-0 text-capitalize" role="alert">
            
            <p class="p-0 m-0 snippets_alert">{{message}}.</p>
            
        </div>
                
    {% endfor %}
  
{% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
      // Check if the page was refreshed
      if (localStorage.getItem('snippets_disabled')) {
        const alertSnippet = document.querySelector('.snippets_alert');
        if (alertSnippet) {
          alertSnippet.style.display = 'none';
        }
      }
  
      // Set localStorage flag after 5 seconds
      setTimeout(function() {
        localStorage.setItem('snippets_disabled', true);
        const alertSnippet = document.querySelector('.snippets_alert');
        if (alertSnippet) {
          alertSnippet.style.display = 'none';
        }
      }, 5000);
    });
  </script>
