{% extends 'app_common/user/base.html' %}
 {% load static %}
 {% block title%} Home Page for unauthenticated users {% endblock title %} 
{% block content %}

<section id="secondpage-1">
  <article class="black-1">
    <div id="box1-1">
      <h1><b>Get your imagination going</b></h1>

      Lorem ipsum dolor sit amet,<br />
      consectetursaepe, ipsa molestiae nesciunt Lorem, ipsum doit ipsa fuga iste
      dolor,<br />
      eligendi quia maxime doloribus, <br />expedita molestias provident
      exercitationem accusamus voluptate ex magni dolores ipsum. Alias, beatae
      magnam.
    </div>
    <div id="box2-1">

      


        <article class="gallery">
            <img src="" alt="guitar player at concert" />
            <img src="" alt="duo singing" />
            <img src="" alt="crowd cheering" />
            <img src="" alt="singer performing" />
            <img src="" alt="singer fistbumping crowd" />
            <img src="" alt="man with a guitar singing" />
            <img src="" alt="crowd looking at a lighted stage" />
            <img src="" alt="woman singing on stage" />
          </article> 
      </div>
    </div>
  </article>
</section>

<!-- end banner -->
<h1>hiii</h1>

{% endblock %}
