@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

            /* ----------------------------about us css------------------------- */
#about{
    font-family: "Poppins",sans-serif;
    margin:20px  auto 80px;
   
}
#about div h3{
    font-family: "Rufina",sans-serif;
  
}
#about div p{
    font-family:sans-serif ;
    font-size: 15px;
    font-weight: 100;
   
    line-height:1.56;
}
.side_img img{ 
    
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* ----------------------------return css------------------------- */
#return{
    font-family: "Poppins",sans-serif;
    width: 70%;
    margin:20px  auto 80px;
   
}
#return div h3{
    font-family: "Rufina",sans-serif;
}
#return div p{
    font-family:sans-serif ;
    font-size: 15px;
    font-weight: 100;
    margin: 20px 0;
    line-height: 2;
}
#return div h5{
    font-weight: 600;
    font-size: 15px;
    margin: 12px 0;
}
#return div ul li{
    list-style-type: number;
}

#return div ul li ul li{
    list-style-type: disc;
    line-height: 2.5;
    font-family:sans-serif ;
    font-size: 15px;
    font-weight: 100;
}
#return div ul li ul{
    font-family:sans-serif ;
    font-size: 15px;
    font-weight: 100;
}

/* ----------------------------privacy css------------------------- */

#Privacy{
    font-family: "Poppins",sans-serif;
    width: 70%;
    margin:20px  auto 80px;
    font-weight: 100;
   
}
#Privacy div h3{
    font-family: "Rufina",sans-serif;
}
#Privacy div p{
    font-family:sans-serif ;
    font-size: 15px;
    font-weight: 100;
    margin: 20px 0;
    line-height: 2;
}
#Privacy div ul li{
    
    list-style-type: number;
}

#Privacy div ul li ul li{
    list-style: disc;
    font-family:sans-serif ;
    font-size: 15px;
    font-weight: 100;
    line-height: 2;
    margin: 10px 0;
    
}


/* ----------------------------Contact us css------------------------- */
#conatct_us{
    font-family: "Poppins",sans-serif;
    
    margin:20px auto 80px;
}
.contactus-page{
    background-color: var(--pagebg);
}
.contact_us_image{
    height:400px;
    width: 100%;
    overflow: hidden;
   
}
.contact_us_image img{
    height:530px;
    width: 100%;
   
}
.contactus-page{
    padding: 50px 30px;
}
.Address-page{
    padding: 10px 50px;
}
.contactus-page .Address-page h5{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    color: black;
    line-height: 30px;
 
}
.contactus-page .Address-page p{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    color: #191919;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 15px;
}
.contactus-page .Address-page .social-icons{
    font-size: 20px;
    line-height: 40px;
}
.contactus-page .Address-page .social-icons i{
    color:var(--discount);
    margin: 0 8px;
}
.contact-form h4{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 25px;
  margin-bottom: 30px;
}
.contact-form form{
    color: #363636 !important;
}
.contact-form form button{
    background-color: var(--discount);
    color: var(--third);
    font-family:'inter',sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    word-spacing: 6px;
    font-size: 13px;
    padding: 18px 35px;
    border-radius: 2px;
}
.contact-form form .form-field{
    margin: 15px 0;
}
.contact-form form .form-field input{
    border-radius: 0;
}
.contact-form form .form-field input:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-form form .form-field textarea:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-form form .form-field textarea{
    border-radius: 0;
}