{% extends 'users/admin/base.html' %}
{% load static %}
{% block content %}

{% comment %}
<main class="py-2">
    <div class="container-fluid">
        
        <div class="vstack gap-4">
            <div class="card create_test">
                <form action="" method="post" enctype="multipart/form-data">
                    {% include 'snippets/alert.html' %}
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="row">
                        {% for field in form %}
                            <div class="col-12">
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <center><button type="submit" class="btn btn-success">Add Blogss</button></center>
                </form>
            </div>
        </div>
    </div>
</main>
{% endcomment %}




<section class="py-2">
   <div class="container">
    <h4 class="headings_h4 text-center my-lg-4 p-lg-3">Add Your Blogs</h4>
 
    <div class="d-flex justify-content-center" >
        <div class=" create_test tablecard ">
            <form action="" method="post" enctype="multipart/form-data" class="card p-lg-4 lh-lg">
                {% include 'snippets/alert.html' %}
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="row">
                        {% for field in form %}
                            <div class="col-12">
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                <button type="submit" class="btn btn-success w-100">Add Your Blog</button>
            </form>
        </div>
    </div>
   </div>
</section>
{% endblock content %}
