{% extends 'users/admin/base.html' %}
{% load static %}
{% block content %}
<section class="py-lg-2">
    <div class="conatiner">
        <h4 class="form-header headings_h4 text-center my-lg-4 p-lg-3">Add Your Blogs</h4>
        <p class="text-center"> {% include 'snippets/alert.html' %}</p>
        <div class="product-form-container w-50">
            <form action="" method="post" enctype="multipart/form-data" class="lh-lg">
                {% include 'snippets/alert.html' %}
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="row">
                        {% for field in form %}
                            <div class="col-12">
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn w-100 mt-3" id="save-btn">Add Your Blog</button>
            </form>
        </div>
    </div>
</section>



{% endblock content %}
