{% extends 'app_common/base.html' %}
{% load static %}
{% block title %} About Us {% endblock title %}
{% block content %}

<section>
    <div class="container" id="about">
        <div>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
              </nav>
            <h3 class="text-center border-bottom pb-lg-3">About Us</h3>
            
            <p class="mt-lg-4">Niwa Agro Pvt Ltd is a dynamic company in the agricultural sector, dedicated to revolutionizing modern farming practices. With a focus on sustainability, innovation, and technology integration, Niwa Agro aims to enhance productivity and efficiency in agriculture. The company is committed to supporting farmers by providing advanced solutions, quality inputs, and comprehensive support services.
               </p>
                <div class="row p-lg-2">
                    <div class="col col-12 col-lg-6  " >
                        <h4 class="mb-lg-4  text-center text-success ">Welcome to Niwa Agro!</h4>
                        <p class="text-dark lh-lg">Niwa Agro Pvt. Ltd. is a forward-thinking agricultural company committed to revolutionizing the agricultural landscape through innovative practices and sustainable solutions. With a mission to enhance food security and promote environmentally friendly farming techniques, Niwa Agro focuses on integrating modern technology with traditional farming methods to optimize productivity and ensure high-quality produce. Niwa Agro Pvt Ltd offers a wide range of products and services including high-quality seeds, fertilizers, and crop protection products. Additionally, the company invests in research and development to bring cutting-edge technologies and sustainable farming practices to its clients.</p>
                    </div>
                    <div class="col col-12 col-lg-6 side_img">
                        <img class=" img-fluid" src="{% static 'app_common\images\about.jpg'%}" alt="About Us">
                    </div>
                </div>
                <br>
                <div class="row border p-4">
                    <div class="col col-12 col-lg-4 ">
                        <h4 class="mt-lg-4 text-center text-success pb-2 " ><u>MISSION</u></h4>
                        <h6 class="mt-lg-2 text-success" >"Cultivating Sustainable Solutions for a Healthier Tomorrow"</h6>
                                <p class="text-dark">
                                        At Niwa Agro Pvt. Ltd., our vision is to revolutionize the agricultural landscape by embracing innovation, sustainability, and community empowerment. We aim to be at the forefront of agricultural excellence, fostering a future where advanced farming techniques and eco-friendly practices harmonize to produce nutritious, high-quality crops.
                            </p>
                    </div>
                    <div class="col col-12 col-lg-4">
                        <h4 class="mt-lg-4 text-center text-success pb-2"><u>VISSION</u> </h4>
                        <h6 class="mt-lg-2 text-success">"Growing green for a better world. Nurturing nature, feeding the future."</h6>
                            <p class="text-dark" >At Niwa Agro Pvt. Ltd., our mission is to revolutionize the agricultural sector by empowering farmers with innovative and sustainable solutions. We are dedicated to enhancing productivity, ensuring food security, and promoting environmental stewardship. 
                        </p>
                    </div>
                    <div class="col col-12 col-lg-4">
                        <h4 class="mt-lg-4 text-center text-success pb-2"><u>VALUE</u> </h4>
                        <h6 class="mt-lg-2 text-success">"Growing green for a better world. Nurturing nature, feeding the future."</h6>
                        <p class="text-dark">At Niwa Agro, we believe in the power of sustainable agriculture to transform communities and ensure a prosperous future for all. Our values are deeply rooted in our commitment to innovation, integrity, and environmental stewardship.</p>
                    </div>
                </div>
        </div>
       
    </div>
</section>

{% endblock content %}
