{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>landingpage</title>

  <!-- CSS FILES -->
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="" />
</head>

<body>
  <!-- logo -->
  <nav id="co">
    <article>
      <div id="logo">
        <a href="{% url 'users:home' %}" class="navbar-brand me-lg-5 me-0" style="padding-left: 100px">
          <!-- {% static 'shopingsite/pod-talk-logo.png' %} -->
          <img src="" class="logo-image img-fluid" alt="templatemo pod talk" />
        </a>
      </div>
      <div id="menu">
        <ol>
          <li><a href="" class="x">Help</a></li>
          <li><a href="">|</a></li>
          <li>
            <a href="{% url 'users:login' %}" class="x">Log in</a>
          </li>
        </ol>
      </div>
    </article>
  </nav>

  <!-- end logo -->

  <!-- start header -->

  <nav class="navbar custom navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-12 navbar-nav-scroll" style="--bs-scroll-height: 100px">
          <li class="nav-item" style="padding-left: 80px">
            <a class="nav-link active" aria-current="page" href="{% url 'users:home' %}"
              style="padding-top: 15px">Home</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link active" href="#">Browse</a>
            </li> -->

            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                      <ul class="navbar-nav">
                          <li class="nav-item dropdown hhh">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">Browse</a>
                              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink1">
                                  <div style="width: 300px;">
                                      <h3 class="mx-3">AUDIOBOOK CATEGORIES</h3>
                                      <ul style="list-style-type: none; padding-left: 0;">
                                          {% for category in categories %}
                                          {% if forloop.counter <= 3 %}
                                          <li>
                                              <a class="dropdown-item" href="">{{ category }}</a>
                                          </li>
                                          {% endif %}
                                          {% endfor %}
                                          <li>
                                              <a class="dropdown-item" href="">Show more</a>
                                          </li>
                                      </ul>
                                  </div>
                              </ul>
                          </li>
                      </ul>
                  </div>
              </div>
          </nav>
          

          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true" href=""
              style="padding-top: 15px">About membership
            </a>
          </li>
        </ul>


  <div>
    <form action="" method="post" class="d-flex" role="search"
      style="padding-right: 80px; width: 550px;">
      {% csrf_token %}
      <div class="input-group input-group-lg">
        <input name="search-box" type="search" class="form-control me-4" id="search" placeholder="Search Books"
          aria-label="Search">

        <button type="submit" class="btn btn-outline-success" id="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </form>
    <div id="search-suggestions" class="position-absolute border mx-auto" style="display: none;"></div>
  </div>
  </div>
  </div>
  </nav>
  <!-- end header -->
  {% block content %} {% endblock %}
  <!-- end page 4 -->

  <div class="mt-3">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #45526e">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Audiobook
              </h6>
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a class="text-white">MDBootstrap</a>
              </p>
              <p>
                <a class="text-white">MDWordPress</a>
              </p>
              <p>
                <a class="text-white">BrandFlow</a>
              </p>
              <p>
                <a class="text-white">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Useful links
              </h6>
              <p>
                <a class="text-white">Your Account</a>
              </p>
              <p>
                <a class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3">

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <!-- Facebook -->
              <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                  class="fab fa-facebook-f"></i></a>

              <!-- Twitter -->
              <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                  class="fab fa-twitter"></i></a>

              <!-- Google -->
              <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                  class="fab fa-google"></i></a>

              <!-- Instagram -->
              <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                  class="fab fa-instagram"></i></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  </div>
  {% block js %}

  {% endblock js %}
  <script>
    $(document).ready(function () {
      $('#search').keyup(function () {
        var search_term = $(this).val();
        if (search_term.length >= 1) {
          $.ajax({
            type: 'POST',
            url: '',
            data: {
              'search_term': search_term,
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {
              var suggestionsHtml = '';
              response.forEach(function (product) {
                // Modify the suggestionsHtml to include both title and ID
                suggestionsHtml += '<div class="suggestion border-bottom border-1 cursor-pointer suggestion-hover" data-id="' + product.id + '">' + product.title + '</div>';
              });
              $('#search-suggestions').html(suggestionsHtml).show();
            }
          });
        } else {
          $('#search-suggestions').hide();
        }
      });

      // Handle click on suggestion
      $(document).on('click', '.suggestion', function () {
        // Get the ID of the clicked suggestion
        var productId = $(this).data('id');
        // Construct the URL using Django template syntax
        var productUrl = ''.replace('0', productId);
        // Redirect the user to the product details page
        window.location.href = productUrl;
      });

      // Hide suggestions when clicking outside
      $(document).click(function (event) {
        if (!$(event.target).closest('#search-suggestions').length && !$(event.target).is('#search')) {
          $('#search-suggestions').hide();
        }
      });
    });
  </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src=""></script>
  
</body>

</html>