{% extends 'app_common/base.html' %}
 {% load static %}
 {% block title%} Home{% endblock title %} 
 {% block content %}

<!-- --------------------banner section--------------- -->

<section>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app_common\images\img1.jpeg' %}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app_common\images\img2.jpg' %}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app_common\images\img3.jpg' %}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app_common\images\image4.webp' %}" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <i class="fa-solid fa-chevron-left"></i>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <i class="fa-solid fa-chevron-right"></i>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- --------------------end banner section--------------- -->


<!-- --------------------android app--------------- -->
<section class="AppDownload">
  <div class="d-flex justify-content-center align-items-center p-lg-3 p-2 bg-warning fs-4">
    Download App! &nbsp; 
    <a href="#" class="text-decoration-none u-button ">FOR ANDROID</a>
  </div>
</section>
<!-- --------------------end android app--------------- -->



<!-- --------------------Shop by collection--------------- -->

<section class="p-lg-4 p-3 Shop_by_Collection">
  <div class="">
      <div class="pb-4">
        <h3 class="text-success">Shop By Collection</h3>
      </div> 
   
        <!-- ----------------max card should be 5 in =----------------- -->
    <div class="row">

       <!-- ---------category 1-------- -->

       {% for category in categories %}
    
        <div class="col content-wrapper col-lg-2 col-md-3 col-6">
          <div class="image-wrapper">
            <a href="{% url 'product:products_of_category' category.title %}">
                <img src="{{ category.image.url }}" alt="{{ category.title }}" width="185" height="330">
              </a>
          </div>
          <a href="{% url 'product:products_of_category' category.title %}" class="text-decoration-none">
          <h4 class="text-center">{{ category.title }}</h4>  </a>
        </div>
    
        {% endfor %}

  </div> 
  </div>
</section>
<!-- --------------------end Shop by collection--------------- -->


<!-- --------------------New Arrival Collection--------------- -->

<section class="p-lg-3 p-3">
  <div class="">
    <div class="pb-4">
      <h3 class="text-success text-center">New Arrivals</h3>
    </div>

    <div class="row">
      {% for product in new_products %}
      <div class="col col-lg-2 col-md-3 col-6">
        <div class="card p-2">
          <img src="{{ MEDIA_URL }}{{ product.images.0 }}" style="height: 12rem;" class="card-img-top object-fit-cover" alt="{{ product.name }}">
          <div class="card-body p-1">
            <h6>{{ product.name }}</h6>
            <small>
              <b>₹{{ product.product_discount_price }}</b>
              {% if product.product_max_price %}
              <s>₹{{ product.product_max_price }}</s>
              {% endif %}
            </small>
          </div>
            <a href="{% url 'product:product_detail' product.id %}" class="vd_button">View Details</a>
        </div>
      </div>
      {% endfor %}

    </div>




    
        
    <div class="d-flex justify-content-center viewmoreButton">
      <a href="#" class=" u-button">View More Products</a>
    </div>
  </div>
</section>
<!-- --------------------End New Arrival Collection--------------- -->




<!-- --------------------------Trending Products---------------------------- -->

<section class="p-lg-4 p-3 Shop_by_Collection">
  <div class="">
    <div class=" pb-4">
      <h3 class="text-success text-center">Trending Products</h3>
    </div>

    <div class="row">
      {% for product in new_products %}
      <div class="col col-lg-2 col-md-3 col-6">
        <div class="card p-2">
          <img src="{{ MEDIA_URL }}{{ product.images.0 }}" style="height: 12rem;" class="card-img-top object-fit-cover" alt="{{ product.name }}">
          <div class="card-body p-1">
            <h6>{{ product.name }}</h6>
            <small>
              <b>₹{{ product.product_discount_price }}</b>
              {% if product.product_max_price %}
              <s>₹{{ product.product_max_price }}</s>
              {% endif %}
            </small>
          </div>
            <a href="{% url 'product:product_detail' product.id %}" class="vd_button">View Details</a>       
        </div>
      </div>
      {% endfor %}
    </div>




    
        
    <div class="d-flex justify-content-center viewmoreButton">
      <a href="#" class=" u-button">View More Products</a>
    </div>
  </div>
</section>

<!-- --------------------------End Trending Products---------------------------- -->





<!-- ------------------------- why  choose  niwa---------------------- -->
<section class="whychoose p-lg-5 p-3 " >
  <h4 class="text-center text-success">Why Choose Niwa Agro</h4>
  <div class="row text-center container p-lg-4 p-3 chooseniwa_logo">
    <div class="col-6 col-md-3 mb-2">
      <img src="{% static 'app_common/images/bg2.avif' %}" alt="" class="img-fluid">
      <h5 class="p-1">Free Replacements if Damaged</h5>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <img src="{% static 'app_common/images/bg3.svg' %}" alt="" class="img-fluid">
      <h5 class="p-1">Quality Assured</h5>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <img src="{% static 'app_common/images/bg4.avif' %}" alt="" class="img-fluid">
      <h5 class="p-1">Secure and Recyclable Packaging</h5>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <img src="{% static 'app_common/images/bg5.avif' %}" alt="" class="img-fluid">
      <h5 class="p-1">Handpicked Plant Care Tips</h5>
    </div>
  </div>
</section>



<!-- --------------------------about niwa agro-------------------------------- -->

<section class="aboutniwa_bg">
 <div class="p-lg-5 p-3 ">
<div class="aboutniwa1 w-50 ">
  <h2 class="text-success text-center pb-lg-5">ABOUT US</h2>
    <p>Niwa Agro is dedicated to revolutionizing agriculture through sustainable and innovative farming practices. Our mission is to empower farmers with the latest technology and knowledge, ensuring high-quality produce and environmentally friendly methods. At Niwa Agro, we believe in a future where agriculture thrives in harmony with nature, fostering growth and prosperity for communities worldwide.</p>
    <p>At Niwa Agro, we are dedicated to revolutionizing the agricultural landscape. Our mission is to empower farmers with innovative solutions and sustainable practices that enhance productivity and foster environmental stewardship. With a focus on cutting-edge technology and community support, we strive to create a thriving agricultural ecosystem that benefits both people and the planet. Join us in our journey to cultivate a brighter, greener future.</p>
    <div>
        <a href="{% url 'app_common:about_us' %}" class="text-white text-decoration-none u-button">Know More</a>
    </div>
</div>
 </div>
</section>
<!-- --------------------------End about niwa agro-------------------------------- -->


<!-- --------------------------Testimonial------------------------------- -->

<section class="whychoose p-lg-3 p-3 " >
  <div class="testimonial ">
  <div class="row">
     <div class="col-12 d-flex align-items-center justify-content-start flex-column">
         <h2 class="section-heading border-bottom p-lg-3 p-2">From Happy Customers</h2>
      </div>
  </div>
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
           </button>
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">
       </button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">
      </button>
     </div>               
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-img1">
         <img src="{% static 'app_common\images\person4.jpg'%}">
        </div>
        <div class="carousel-caption">
         <h5 class="testimonial-name">Priyanka Choudhary</h5>
         <p><i class="bi bi-quote testimonial-icon"></i>Lorem ipsum dolor sit amet  consectetur,adipisicing elit. Distinctio odit nemo necessitatibus. Eligendi fugit sed itaque quas! Natus cumque, laudantium rerum vel quos  voluptatem! Nisi fugiat enim cupiditate ducimus quaerat?</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img1">
         <img src="{% static 'app_common\images\person2.jpg'%}">
        </div>
        <div class="carousel-caption">
         <h5 class="testimonial-name">Smruti Rekha Nayak</h5>
         <p><i class="bi bi-quote testimonial-icon"></i>Lorem ipsum dolor sit amet  consectetur,adipisicing elit. Distinctio odit nemo necessitatibus. Eligendi fugit sed itaque quas! Natus cumque, laudantium rerum vel quos         voluptatem! Nisi fugiat enim cupiditate ducimus quaerat?</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-img1">
         <img src="{% static 'app_common\images\person3.jpg'%}">
        </div>
        <div class="carousel-caption">
         <h5 class="testimonial-name">Tapas Kumar Nanda</h5>
         <p><i class="bi bi-quote testimonial-icon"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio odit nemo necessitatibus. Eligendi fugit sed itaque quas! Natus cumque, laudantium rerum vel quos voluptatem! Nisi fugiat enim cupiditate ducimus quaerat?</p>
        </div>
      </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
   </button>
  </div>
</div>
</div>
</section>
<!-- --------------------------End Testimonial------------------------------- -->
  
<!-- --------------------------Start Accordian------------------------------------- -->

<section class="Shop_by_Collection p-lg-5 p-3  Accordian">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center flex-column">
        <h2 class="section-heading border-bottom p-lg-3 p-2">Frequently Asked Questions:</h2>
     </div>
 </div>
  <div class="container">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item ">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed border-bottom " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            What is Niwa Agro?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Niwa Agro is an agricultural company specializing in [specific services/products, e.g., sustainable farming solutions, organic produce, etc.].
            You can reach us via email at [email address], call us at [phone number], or fill out the contact form on our website.We offer a range of products including [list of products such as organic vegetables, fruits, grains, etc.].Our services include [list of services such as agricultural consulting, farm management, sustainable farming practices, etc.].All our products are certified organic and meet [specific standards, e.g., USDA Organic, EU Organic Certification].
          </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            What farming practices does Niwa Agro use?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">We use sustainable and environmentally friendly farming practices, including [specific practices such as crop rotation, no-till farming, integrated pest management, etc.].We implement rigorous quality control measures at every stage of production, from planting to harvest, to ensure our products meet the highest standards.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed border-bottom " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            How can I place an order with Niwa Agro?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">You can place an order through our website, by phone, or by visiting one of our partner retailers.

            12. Does Niwa Agro offer home delivery?
            Yes, we offer home delivery services in [specific areas/regions]. Delivery times and fees vary based on location.
            
            13. What payment methods does Niwa Agro accept?
            We accept various payment methods including credit/debit cards, PayPal, and bank transfers.</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- --------------------------------------------End Accordian------------------------------------- -->








{% endblock content %}