{% extends 'app_common/base.html' %}
{% load static %}
{% block title %} Privacy Policy | reactedu.in {% endblock title %}
{% block content %}

      <section>
        <div class="container" id="Privacy">
            <div>
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                    </ol>
                  </nav>
                <h3 class="text-center border-bottom pb-lg-3">Privacy Policy</h3>
                <h4 class="mt-lg-3">Introduction</h4>
                <p>Niwa Agro Pvt. Ltd. is committed to protecting the privacy and personal information of our customers, partners, and employees. This Privacy Policy outlines our practices regarding the collection, use, and safeguarding of personal information. By engaging with our services, you consent to the practices described in this policy.</p>
                <h4>Information We Collect</h4>
                <p>We collect various types of information to provide and improve our services. The types of information we collect include:</p>
                <ul>
                    <li>
                        <h5>Personal Information</h5>
                        <ul>
                            <li><b>Name:</b></li>
                            <li><b>Contact Information</b></li>
                            <li><b>Contact Information</b></li>
                            <li><b>Payment Information </b></li>
                        </ul>
                    </li>
                    <li>
                        <h5>Non-Personal Information</h5>
                        <ul>
                            <li><b>Device Information</b></li>
                            <li><b>Usage Data </b></li>
                            <li><b>Cookies and Tracking Technologies</b></li>
                        </ul>
                    </li>
                </ul>
                <h4>Changes to This Privacy Policy</h4>
                <p>We may update this Privacy Policy from time to time. Any changes will be posted on our website with the updated effective date. We encourage you to review this policy periodically to stay informed about how we are protecting your information.</p>
                <h4>Contact Us</h4>
                <p>If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at:</p>
                <p>Niwa Agro Pvt. Ltd.</p>
                <p>Plot No: 3298/5536,<br>
                    C-8, Lane-5A,
                    Gouri Nagar,
                    Old Town (Khorda),<br>
                    Bhubaneswar, Khorda- 751002,<br>
                    Odisha
                <br>
                niwacare@outlook.com
            <br>+91 -7735955569</p>
                   
            </div>
        </div>
      </section>

{% endblock content %}