{% extends 'app_common/base.html' %}

{% load static %}

{% block title %} retrun_policy {% endblock title %}

{% block content %}

 

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    body{

        font-family: "Poppins", sans-serif; 

        line-height: 1.6;

        text-align: justify;

        font-size: 14px;

        letter-spacing: -.5px;

    }

ul {

    list-style-type: ;

 

}

/* ul li {

    margin-bottom: 10px;

} */

.sectiontitle {

color: navy;

border-bottom: 5px solid #F37021;

display: inline-block; /* Ensures the border only spans the width of the text */

padding-bottom: 5px; /* Adjust as necessary for spacing */

margin-bottom: 20px; /* Adjust to ensure it doesn't interfere with other elements */

}

h3{

font-size: 22px;

}

.turm_img{

    width: 5rem;

    height: 5rem;

    margin-bottom: 10px;

}

@media only screen and (min-width: 1538px) {

    .My_body{

        margin: 0 10%;

    }

}

@media only screen and (min-width: 941px) {

    .My_body{

        margin: 0 10%;

    }

}

</style>

<div class=" My_body " style="min-height: 60vh;">

    <div class="row mt-5 px-3  pt-2 ">

        <div class="col-12 d-flex  justify-content-center  "  >

            <h3 class="sectiontitle mb-5 mt-3 text-center" style="font-size: 27px;">Return Policy</h3>

        </div>

        <h3>SHIPPING</h3>

 

<h3>PRE-PAID ORDERS</h3>

<ul>

    <li class="mb-2">We will ship your prepaid order within 48 hours and you will get a tracking link over Email and WhatsApp.</li>

    <li class="mb-2">Free shipping on pre-paid orders</li>

    <li class="mb-2">Delivery within 7-8 working business days.</li>

    <li class="mb-2">Note: If you've placed a prepaid order on discounted items and using coupon code, return or refund not applicable on that item.</li>

</ul>

 

<h3>COD ORDERS</h3>

<ul>

    <li class="mb-2">We will ship your COD order within 3-4 working days and you will get a tracking link over Email and WhatsApp.</li>

    <li class="mb-2">Shipping cost 49 INR is added in COD orders only and it will be calculated at the checkout.</li>

</ul>

 

<h3>PRODUCT DISCLAIMER</h3>

<ul>

    <li class="mb-2">All images on the website are enhanced during the post-production process, actual product colors may vary.</li>

</ul>

 

<h3>RETURNS</h3>

<p>What are the conditions for return?</p>

<ul>

    <li class="mb-2">Received Damage product</li>

    <li class="mb-2">Received defective product</li>

    <li class="mb-2">Received wrong product</li>

</ul>

<p>All returns must be postmarked within 7 days of the product delivery. All returned items must be new and in an unused condition.</p>

<p>Note: It is mandatory to capture a video/photo before shipping the package or handling it to our courier partner.</p>

<p>Pickup will be attempted twice. If the courier company fails to pick up the shipment. You will need to return the shipment to our address.</p>

<p>Reverse Pick Up is dependent on the availability of the service in your area pin code.</p>

<p>Damaged/wrong product issued must be reported within 24 hours of delivery for prompt resolution.</p>

<p>In case the customer receives defective/wrong product(s), the reverse pickup will be generated by us and the shipping charges will be covered by us only.</p>

<p>99 INR logistic charges will be deducted as a part of refund process, if you received good product as you saw in booking time but still you refunding for size issue and No defective/No Damage/No wrong product.</p>

 

<h3>RETURN PROCESS</h3>

<ul>

    <li class="mb-2">To return an item, please raise a request on www.treeranga.com with a clear photo or a video that shows the product’s defects.</li>

    <li class="mb-2">Once the return is approved your order will be picked up within 4 -5 working days.</li>

    <li class="mb-2">The team will work on the refund after the product is received. Refunds take 3-5 business days to appear in your original form of payment.</li>

    <li class="mb-2">In order to be eligible for a refund, your item must be returned with all tags attached, unworn, unused, and unwashed, in the exact condition that you received it.</li>

</ul>

 

<h3>CANCELLATIONS</h3>

<p>Orders can't be cancelled once it’s shipped, you can cancel the order before it is shipped by visiting the account page.</p>

 

<h3>EXCHANGES</h3>

<p>Exchange not available only return, if you have to exchange the product please return the product and place a new order from our website.</p>

 

<h3>Things To Consider</h3>

<ul>

    <li class="mb-2">The customers are requested to check the size guide before placing the order.</li>

    <li class="mb-2">The color of the product(s) may vary as per the customer's screen resolution.</li>

    <li class="mb-2">Please provide your WhatsApp registered number for timely updates and a better shopping experience.</li>

    <li class="mb-2">If the customer receives a torn parcel/unrelated product(s)/empty parcel, they are requested to raise a query within 24 hours of delivery. For a safer side, we suggest our customers to create an unboxing video of the parcel too.</li>

</ul>

 

<h3>QUESTIONS</h3>

<p>If you have any questions, please contact us at: <a href="mailto:contactus@treeranga.com">contactus@treeranga.com</a></p>

 

<p>TREERANGA will not stand liable for any changes of any damage caused by the customer to the product.</p>

 

<h2 class="text-center">COMPANY ADDRESS </h2>

<p class="text-center mb-5"> Gobindapur,Panikoili,Jajpur,Odisha- 755043 </p>

 

<div class="col-lg-12">

    <div class="row  d-flex justify-content-center pb-4" style="font-size: 14px;">

        <div class="col-lg-4 d-flex flex-column align-items-center text-center">

            <img

                src=""

                class="d-block img-fluid turm_img"

                alt="Slide 1" />

            <h6>FREE & FAST DELIVERY</h6>

            <p>Shipping within 48 hours across India</p>

        </div>

        <div class="col-lg-4 d-flex flex-column align-items-center text-center">

            <img

                src=""

                class="d-block img-fluid turm_img"

                alt="Slide 1" />

            <h6>RETURN POLICY</h6>

            <p>Return within 7 days</p>

        </div>

        <div class="col-lg-4 d-flex flex-column align-items-center text-center">

            <img

                src=""

                class="d-block img-fluid turm_img"

                alt="Slide 1" />

            <h6>CONTACT US</h6>

            <p>support@treeranga.com</p>

        </div>

    </div>

</div>
        </div>

        </div>

{% endblock content %}





