{% extends 'app_common/base.html' %}
{% load static %}
{% block title %} Terms & Conditions |reactedu.in {% endblock title %}
{% block content %}

<section>
    <div class="container" id="return">
        <div>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
                </ol>
              </nav>
            <h3 class="text-center border-bottom pb-lg-3">Terms and Conditions</h3>
            <b>1. Admission and Enrollment</b> <br>
                1.1. Admission to the institute is subject to the submission of all required documents and payment of applicable fees. <br>
                1.2. The institute reserves the right to accept or reject any application at its discretion. <br>
                1.3. Students must provide accurate and truthful information during the admission process. Any falsified information may lead to the cancellation of admission. <br>

               <b>2. Fees and Payments</b>  <br>
2.1. All fees, including tuition, examination, and other applicable charges, must be paid by the specified due dates. <br>
2.2. Late payments may attract a penalty as determined by the institute. <br>
2.3. Fees once paid are non-refundable, except in cases specifically outlined in the refund policy. <br>
2.4. Any additional costs for extracurricular activities, study materials, or excursions must be borne by the students or their guardians. <br>

<b>3. Code of Conduct</b> <br>
3.1. Students are expected to maintain discipline and decorum at all times on campus and during institute-related activities. <br>
3.2. Bullying, harassment, discrimination, or any form of misconduct is strictly prohibited and may lead to disciplinary action, including suspension or expulsion. <br>
3.3. Students must respect institute property and will be held accountable for any damages caused. <br>

<b>4. Attendance and Participation</b> <br>
4.1. A minimum attendance of [specify percentage] is mandatory to qualify for examinations and certifications. <br>
4.2. Students must attend all scheduled classes, examinations, and institute events unless prior approval for absence is obtained. <br>
4.3. Continuous absence without valid reasons may lead to removal from the course. <br>
<b>5. Academic Integrity</b> <br>
5.1. Cheating, plagiarism, and any other forms of academic dishonesty are strictly prohibited. <br>
5.2. Students found guilty of academic misconduct may face penalties, including but not limited to failing the course or expulsion. <br>
5.3. Students are required to complete all assignments, projects, and examinations as per the guidelines provided. <br>

<b>6. Safety and Security</b> <br>
6.1. The institute is committed to providing a safe environment for students and staff. However, students must also act responsibly to ensure their safety. <br>
6.2. The institute will not be liable for any personal injury or loss of property caused by negligence or non-compliance with safety protocols. <br>

<b>7. Acceptance of Terms </b><br>
7.1. By enrolling in the institute, students and their guardians agree to abide by these terms and conditions. <br>
7.2. Failure to comply may result in disciplinary action, including termination of enrollmen <br>

<b>8. Liability Disclaimer</b><br>
8.1. The institute will not be held responsible for circumstances beyond its control, including but not limited to natural disasters, government regulations, or other emergencies. <br>
8.2. The institute's liability for any claims related to services provided will be limited to the fees paid by the student. <br>

</section>





{% endblock content %}