{% extends 'app_common/base.html' %}
{% load static %}
{% block title %} Terms & Conditions |reactedu.in {% endblock title %}
{% block content %}

<section>
    <div class="container" id="return">
        <div>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                </ol>
              </nav>
            <h3 class="text-center border-bottom pb-lg-3">Terms and Conditions</h3>
            <ul>
                <li>
                    <h5>Introduction:</h5>
                   <p>Welcome to Niwa Agro Pvt. Ltd. These terms and conditions outline the rules and regulations for the use of our website and services. By accessing this website and using our services, you agree to comply with these terms. If you do not agree with any part of these terms, you must not use our website and services.</p>
                </li>
                <li>
                    <h5>Definitions</h5>
                    <ul>
                        <li><b>Company:</b> Refers to Niwa Agro Pvt. Ltd., located at [Company Address]</li>
                        <li><b>User:</b>Refers to any individual or entity accessing or using our website and services.</li>
                        <li><b>Services:</b>Refers to all products and services provided by Niwa Agro Pvt. Ltd.</li>
                    </ul>
                </li>
                <li>
                    <h5>Use of Services</h5>
                    <ul>
                        <li><b>Eligibility: </b>Users must be at least 18 years old to use our services.</li>
                        <li><b>Registration:</b>Some services may require registration. Users agree to provide accurate and complete information during the registration process.</li>
                        <li><b>Account Security:</b>Users are responsible for maintaining the confidentiality of their account information and for all activities that occur under their account.</li>
                    </ul>
                </li>
                <li>
                    <h5>Products and Services</h5>
                    <ul>
                        <li><b>Product Descriptions:</b>Niwa Agro Pvt. Ltd. strives to provide accurate descriptions of products and services. However, we do not warrant that descriptions or other content are error-free.</li>
                        <li><b>Pricing: </b>All prices are subject to change without notice. Prices may vary based on location and market conditions.</li>
                        <li><b>Orders: </b>All orders are subject to acceptance and availability. We reserve the right to cancel or refuse any order.</li>
                    </ul>
                </li>
                <li>
                    <h5>Payment and Billing</h5>
                    <ul>
                        <li><b>Payment Methods: </b>We accept various payment methods as specified on our website.</li>
                        <li><b>Billing Information: </b>Users agree to provide current, complete, and accurate billing information.</li>
                        <li><b>Payment Terms:</b>Payments must be made at the time of order. Failure to pay may result in order cancellation or suspension of services.</li>
                    </ul>
                </li>
            </ul>
            <p class="fw-semibold">Niwa Agro Pvt. Ltd. reserves the right to modify these terms and conditions at any time. Users are encouraged to review the terms periodically for updates.</p>
        </div>
    </div>
</section>





{% endblock content %}