{% extends 'users/admin/base.html' %}

{% block title %}Apply for Certificate{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>Apply for Certificate</h2>
    {% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if 'success' in message.tags %}
                alert-success
            {% elif 'warning' in message.tags %}
                alert-warning
            {% elif 'error' in message.tags %}
                alert-danger
            {% elif 'info' in message.tags %}
                alert-info
            {% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Apply Certificate</button>
    </form>
</div>
{% endblock content %}
