<!-- batch_details.html -->
{% extends 'users/admin/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Batch Report</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Batch Name</th>
                <th>Batch Limit</th>
                <th>Current Admission</th>
                <th>Remaining Admission</th>
            </tr>
        </thead>
        <tbody>
            {% for batch in batches %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ batch.name }}</td>
                    <td>{{ batch.limit }}</td>
                    <td>{{ batch.current_admission }}</td>
                    <td>{{ batch.remaining_admission }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No records are available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
