{% extends 'users/admin/base.html' %}
{% load static %}
{% block content %}

<main class="py-6">
  <div class="container-fluid">
    <div>
      <h4 class="heading">Welcome To RATIONAL EDUCATION AND COMPUTER TRAINING</h4>
    </div>
    <div class="overview-boxes">

      <a href="{% url 'users:add_new_student' %}" class="box-link">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Direct Admission</div>
            <div class="indicator">
              <i class="bx bx-right-arrow-alt"></i>
            </div>
          </div>
          <i class="bx bx-user-plus cart"></i>
        </div>
      </a>

      <a href="{% url 'users:student_payment_list' %}" class="box-link">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Fees Details</div>
            <div class="indicator">
              <i class="bx bx-right-arrow-alt"></i>
            </div>
          </div>
          <i class="bx bx-wallet cart"></i>
        </div>
      </a>

      <a href="{% url 'users:take_attendance' %}" class="box-link">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Take Attendance</div>
            <div class="indicator">
              <i class="bx bx-right-arrow-alt"></i>
            </div>
          </div>
          <i class="bx bx-user-check cart"></i>
        </div>
      </a>

      <a href="{% url 'users:list_batches' %}" class="box-link">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Batch Details</div>
            <div class="indicator">
              <i class="bx bx-right-arrow-alt"></i>
            </div>
          </div>
          <i class="bx bx-home cart"></i>
        </div>
      </a>

      <a href="{% url 'app_common:admin_message_list' %}" class="box-link">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Support</div>
            <div class="indicator">
              <i class="bx bx-right-arrow-alt"></i>
            </div>
          </div>
          <i class="bx bx-support cart"></i>
        </div>
      </a>

    </div>
  </div>
</main>

{% endblock content %}
