{% extends 'users/admin/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Take Attendance</h2>

    <form method="get" action="" class="form-inline">
        <div class="form-group">
            <label for="batch">Batch:</label>
            <select name="batch" id="batch" class="form-control" onchange="this.form.submit()">
                <option value="">Select Batch</option>
                {% for batch in batches %}
                    <option value="{{ batch.id }}" {% if batch.id == selected_batch %}selected{% endif %}>
                        {{ batch.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" name="date" class="form-control" value="{{ today_date }}" onchange="this.form.submit()">
        </div>
    </form>

    {% if students %}
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="batch" value="{{ selected_batch }}">
            <input type="hidden" name="date" value="{{ today_date }}">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th>S/N</th>
                        <th>Photo</th>
                        <th>Student Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <img src="{{ student.student_image.url }}" alt="{{ student.full_name }}" class="img-thumbnail" style="max-width: 50px;">
                            </td>
                            <td>{{ student.full_name }}</td>
                            <td>
                                <select name="attendance_{{ student.id }}" class="form-control">
                                    <option value="Present" {% if attendance_status_map and attendance_status_map.student.id == 'Present' %}selected{% endif %}>Present</option>
                                    <option value="Absent" {% if attendance_status_map and attendance_status_map.student.id == 'Absent' %}selected{% endif %}>Absent</option>
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <button type="submit" class="btn btn-success">Submit Attendance</button>
        </form>
    {% else %}
        <p>Please select a batch to take attendance.</p>
    {% endif %}
</div>
{% endblock %}
