{% extends 'users/admin/base.html' %}
{% load static %}

{% block content %}



<section class="container w-50 my-lg-5">
  <div class="card">
    <div class="card-header text-center">
      <h4 class="bg">User Information</h4>
    </div>
    <div class="card-body m-lg-4">
      <div class="row">
        <div class=" col col-6 lh-lg">
          <div class="fw-medium "> Full Name :</div>
          <div class="fw-medium"> E-Mail :</div>
          <div class="fw-medium"> Contact :</div>
        </div>
        <div class=" col col-6 lh-lg ">
          <div class="">{{ user_obj.full_name }}</div>
          <div>{{ user_obj.email }}</div>
          <div>{{ user_obj.contact }}</div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
