{% extends 'users/admin/base.html' %}
{% load static %}
{% block content %}


<main class="py-4">
    <div class="container-fluid">
      <h4 class="">All Users</h4>
        <div class="vstack gap-4">
            <div class="d-flex justify-content-center ">
                <p class="snippets">{% include 'snippets/alert.html' %}</p>
               
            </div>
  
            <div class="tablecard">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th class="" id="tb-head" scope="col">User ID</th>
                                <th class="" id="tb-head" scope="col">User Name</th>
                                <th class="" id="tb-head" scope="col">Contact</th>
                                <th class="" id="tb-head" scope="col">E-mail</th>
                                <th class="" id="tb-head" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="test_table_tbody">
                            {% for user in user_obj %}
                          <tr>
                            <td class="tb-body">{{user.id}} </td>
                            <td class="tb-body">{{user.full_name}}</td>
                            <td class="tb-body">{{user.contact}}</td>
                            <td class="tb-body">{{user.email}}</td>
                            <td class="tb-body"> 
                                <a href="{% url 'users:user_detail' user.id %}" class="btn btn-info">View</a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
  </main>



{% endblock content %}