/*------------------- Account Deletion page CSS  Details */

    .deletion_page{
        font-family: "Inter",sans-serif;
    }
    .listDeletion>li{
        list-style-type:number !important;
        font-weight: 300;
        line-height: 30px;
        
    }
    .listDeletion>li li{
        list-style-type: disc !important;
        line-height: 30px;
    }
.vd_button{
        background-color: rgb(207, 11, 11);
        color: var(--third);
        border: 1px solid rgb(246, 246, 246);
        padding: 10px 25px; 
    }
    .vd_button:hover{
        background-color: rgb(255, 1, 1);
    }


/*------------------------------------------------------- Locate us Page---------------------------------------- */
iframe {
    padding: 20px 0px;
    height: 550px;
    width: 100%;
}