@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");





:root {
    --heading: rgb(0 10 45);
    --para: #0f0f0f;
    --para-tint: #e4e4e4;
    --third: #fff;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
 /* spacing 
desktop = 4.8rem */

html {
    font-size:100%;
    font-family: "Work Sans", sans-serif;
  }
  body {
  overflow-x: hidden;
 

}

.container-scroller {
  overflow: hidden; 
}
.navbar {
  font-family: "nunito-medium", sans-serif;
  background: #ffffff;
  transition: background 0.25s ease;
  font-family: "nunito-medium", sans-serif; 
}
.navbar .navbar-brand {
  width: 110px; 
}
.navbar .navbar-brand-wrapper {
  padding: 15px;
  width: 90px;
  height:70px;
 }
 .navbar .navbar-brand-wrapper .navbar-brand {
  color: #27367f;
  font-size: 1.5rem;
  line-height: 48px;
  margin-right: 0;
  padding: .25rem 0;
  width: 100%; 
}
.navbar .navbar-brand-wrapper .navbar-brand img {
  width: calc(258px - 120px);
  max-width: 100%;
  height: 28px;
  margin: auto;
  vertical-align: middle;
 }
 .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
  width: calc(70px - 50px);
  max-width: 100%;
  height: 28px;
  margin: auto; 
}

.page-body-wrapper {
  min-height:auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
 }
  .page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
   }

.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width:100%;
  min-height:300px;
  display: flex;
  flex-direction: column;
 }
 
.content-wrapper {
  background: #f0f1f6;
  padding: 2.875rem 2.875rem 0 2.875rem;
  width: 100%;
  flex-grow: 1; 
}
.navbar.fixed-top + .page-body-wrapper {
  padding-top: 64px; }

