*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-family: "Poppins", sans-serif;
  }
/*=================== Login CSS ==================================*/
.login_background {
    background-image: url("../images/Computer\ Background.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.login_background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.login_card {
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    z-index: 2; 
}

.login_card .card {
    max-height: 70vh;
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255,1); 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    z-index: 2;
}

.leftside_image {
    max-height: 65vh;
    overflow: hidden;
}

.leftside_image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* Base Login Button Styling */
.Login_Button {
  position: relative;
  width: 100%;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5em 2em;
  color: white;
  background: transparent;
  border: 2px solid #6c68ea;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  margin: 10px auto;
}

/* Gradient Background Animation on Hover */
.Login_Button::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 100%;
  top: -100%;
  left: 0;
  background: linear-gradient(#25252b, #6c68ea, #25252b, #6c68ea);
  z-index: -1;
  transition: 0.5s;
}

/* Hover Effect */
.Login_Button:hover::before {
  top: 0;
}

/* Additional Hover Effect for Text Color Change */
.Login_Button:hover {
  color: #fff;
}

/* Active Button State */
.Login_Button:active {
  transform: translate(0em, 0.2em);
}


.sign_up small {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.sign_up a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

/*=================== SignUp CSS ==================================*/

.signup_card {
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
    z-index: 2;
}

.signup_card .card {
    max-height: 90vh;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    z-index: 2;
}
.Register_paragraph p{
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.signup_card .card .row .leftside_image {
    max-height: 80vh;
    overflow: hidden;
}

.signup_card .card .row .leftside_image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


/* For large screens (desktops and laptops) */
@media only screen and (min-width: 1200px) {
    .login_card {
      max-width: 70%;
      padding: 80px 0;
    }
  
    .login_card .card {
      max-width: 70%;
    }
    .signup_card {
        max-width: 70%;
        padding: 80px 0;
      }
    
      .signup_card .card {
        max-width: 70%;
      }
  }
  
  /* For tablets */
  @media only screen and (max-width: 992px) {
    .login_card {
      max-width: 85%;
    }
  
    .login_card .card {
      max-width: 90%;
      padding: 15px;
    }
  
    .leftside_image {
      max-height: 65vh;
    }
  
    .leftside_image img {
      object-fit: cover;
    }
    .Login_Button {
        font-size: 14px;
      }
  }
  
  /* For mobile phones */
  @media only screen and (max-width: 576px) {
    .login_card {
      max-width: 100%;
      padding: 50px 10px;
    }
  
    .login_card .card {
      max-width: 100%;
      padding: 20px;
    }
    .signup_card {
        max-width: 100%;
        padding: 50px 10px;
      }
    
      .signup_card .card {
        max-width: 100%;
        padding: 15px;
      }
    .leftside_image {
      display: none;
    }
  
    h5.fs-1 {
      font-size: 1.5rem;
    }
  
    .Login_Button {
      font-size: 12px;
    }
  }
  