@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");





:root {
    --heading: rgb(0 10 45);
    --para: #0f0f0f;
    --para-tint: #e4e4e4;
    --third: #fff;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  }

  ::after,
  ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
 /* spacing 
desktop = 4.8rem */

html {
    font-size:100%;
    font-family: "Work Sans", sans-serif;
  }
  body {
font-family: 'Poppins',sans-serif;
  }
a{
    text-decoration: none!important;
}
li{
  list-style: none;
}
h1{
  font-weight:600;
  font-size: 1.5rem;
}
.wrapper{
  display: flex;

}
#sidebar{
  width: 90px;
  min-width:90px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: var(--para);
}
#sidebar.expand{
  width: 258px;
  min-width: 258px;
}
#toggle-btn{
  background-color: transparent;
  border: 0;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
#toggle-btn i{
  font-size: 1.5rem;
  color: #fff;
}
.sidebar-logo{
  margin: auto 0;
}
.sidebar-logo a{
  color:#fff;
  font-size: 1.15rem;
  font-weight: 600;
}
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
  display: none;
}
.sidebar-nav{
  padding: 3rem .5rem;
  flex:1 1 auto;
}
a.sidebar-link{
  padding: .625rem 1.625rem;
  color: #fff;
  display: block;
  font-size: 0.rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}
.sidebar-link i{
  font-size: 1.1rem;
  margin-right: 0.75rem;
}
a.sidebar-link:hover{
  background-color: rgba(255,255,255,0.075);
  border-left: 3px solid #3b7ddd;
}
.sidebar-item{
  position: relative;
}
#sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #0e2238;
  padding: 0;
  min-width: 15rem;
  display: none;
}
#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown{
  display: block;
  max-width: 15rem;
  width: 100%;
  opacity: 1;
}
.chevron-icon {
  transition: transform 0.3s;
  font-size: 11px !important;
  margin-left: 5px;
}

.chevron-icon.rotate {
  transform: rotate(-90deg);
}
aside{
  position:static;
  height: auto;
  top: 0;
}