{% extends 'app_common/base.html' %}
{% load static %}
{% block title %}
    Cart 
{% endblock title %}

{% block content %}
<section class="my-5" style="font-size: 14px; min-height: 60vh;">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex justify-content-end my-3">
                <a href="{% url 'users:home' %}" class="btn btn-success" style="background-color: #00836C;">Continue Shopping</a>
            </div>
            <!-- Cart Items List -->
            <table class="table table-hover my-table table-striped border">
                <thead class="thead-light">
                    <tr>
                        <th class="cart-product-remove" id="t-Head">Product Image</th>
                        <th class="cart-product-image" id="t-Head">Product & Price</th>
                        <th class="cart-product-image" id="t-Head">Quantity</th>
                        <th class="cart-product-remove" id="t-Head">Remove</th>
                    </tr>
                </thead>
                <tbody class="tbody-light">
                    {% if products %}
                        {% for key, value in products.items %}
                        <tr style="background-color: white !important;">
                            <td class="cart-product-image" style="width: 25%;" id="t-Body">
                                <a href="{% url 'product:product_detail' key %}">
                                    <img src="{{ value.info.image }}" class="img-thumbnail" alt="product image" style="height: 100px; width: 100px;">
                                </a>
                            </td>
                            <td id="t-Body">
                                <p><b>{{ value.info.name }}</b></p>
                                <p class="mt-1 mb-2"><i class="bi bi-currency-rupee"></i>&nbsp;{{ value.info.discount_price }}</p>
                            </td>
                            <td>
                                <div class="mt-3 d-flex">
                                    <a href="{% url 'cart:managecart' value.info.uid %}?operation=min" class="mt-1">
                                        <i style="color:gray; margin-right:8px;" class="fas fa-minus-square"></i>
                                    </a>
                                    <input type="number" style="width: 60px; height: 27px; border-radius: 2px;" class="form-control" value="{{ value.quantity }}" readonly />
                                    <a href="{% url 'cart:managecart' value.info.uid %}?operation=plus" class="mt-1">
                                        <i style="color:gray; margin-left:8px;" class="fas fa-plus-square"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'cart:removefromcart' key %}" style="margin: 20% 15%; text-decoration: none;">
                                    <i class="fa fa-trash mt-3 text-secondary" style="font-size: 15px;" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">Your cart is empty !!!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col-md-4 mt-3">
            <!-- Cart Summary -->
            <div class="border px-3 py-2 mb-3 bg-white rounded">
                <h6 class="mb-3 text-muted">PRICE DETAILS</h6>
                <div class="d-flex justify-content-between mb-2">
                    <span>MRP:</span>
                    <span><i class="bi bi-currency-rupee"></i>&nbsp;{{ totaloriginalprice }}</span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span>Our Price:</span>
                    <span><i class="bi bi-currency-rupee"></i>&nbsp;{{ totalPrice }}</span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span>Discount:</span>
                    <span><i class="bi bi-currency-rupee"></i>&nbsp;{{ discount_price }}</span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span>GST:</span>
                    <span><i class="bi bi-currency-rupee"></i>&nbsp;{{ GST }}</span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span>Delivery Charge:</span>
                    <span><i class="bi bi-currency-rupee"></i>&nbsp;{{ Delivery }}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span>Total:</span>
                    <span><i class="bi bi-currency-rupee"></i>&nbsp;{{ final_cart_value }}</span>
                </div>
                {% if products %}
                    <a href="{% url 'cart:checkout' %}" class="btn w-100 mt-3 text-white" style="background-color: #F37021;">Proceed to Checkout</a>
                {% else %}
                    <a href="#" class="btn w-100 mt-3 text-white" style="background-color: #F37021;">Proceed to Checkout</a>
                {% endif %}
            </div>
            <span class="d-flex">
                <i class="bi bi-shield-fill-check" style="font-size: 20px; color: gray;"></i>
                <p class="ms-2" id="t-Head" style="font-size: 13px;">Safe and Secure Payments. Easy returns. 100% Authentic products.</p>
            </span>
        </div>
    </div>
</section>
{% endblock content %}
