{% extends 'app_common/base.html' %}
{% load static %}
{% block title %}
   Shopping Cart | Niwa Agro.com
{% endblock title %}

{% block content %}



<section class="container">
    <div class="row my-lg-3">
        <div class="col-md-8">
            <div class="d-flex justify-content-end  border p-lg-3 my-lg-2" >
                <a href="{% url 'users:home' %}" class="vd_button" id="continue-shop" >Continue Shopping</a>
            </div>
            <!-- Cart Items List -->  
            <table class="table table-hover my-table table-striped border">
                <thead>
                    <tr class="cart-table">
                        <th >Product Image</th>
                        <th>Product & Price</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="tbody-light">
                    {% if products %}
                        {% for key, value in products.items %}
                        <tr>
                            <td class="cart-product-image" style="width: 25%;" id="t-Body">
                                <a href="{% url 'product:product_detail' key %}">
                                    <img src="{{ value.info.image }}" class="img-thumbnail" alt="product image">
                                </a>
                            </td>
                            <td id="t-Body">
                                <p class="m-0"><b>{{ value.info.name | truncatechars:30 }} </b></p>
                                <p><i class="bi bi-currency-rupee"></i>{{ value.info.discount_price }}</p>
                                
                            </td>
                            <td>
                                <div class="quantity_add mt-lg-4">
                                    <a href="{% url 'cart:managecart' value.info.uid %}?operation=min" >
                                        <i  class="fas fa-minus-square"></i>
                                    </a>
                                    <input  class="" type="number" value="{{ value.quantity }}" readonly/>
                                    <a href="{% url 'cart:managecart' value.info.uid %}?operation=plus">
                                        <i  class="fas fa-plus-square"></i>
                                    </a>
                                </div>
                            </td>
                            <td >
                                <div class="mt-lg-4 ms-lg-4">
                                    <a href="{% url 'cart:removefromcart' key %}" >
                                        <i class="fa fa-trash text-danger"aria-hidden="true"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">Your cart is empty !!!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="proceed-to">
                <div class=" proceed-to-checkout">
                    {% if products %}
                    <a href="{% url 'cart:checkout' %}" class="u-button">Place order</a>
                {% else %}
                    <a href="#" class="u-button">Place order</a>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="col col-lg-4" >
            <!-- Cart Summary -->
            <div class="product-price-details">
                <div class="border" >
                    <div class="border-bottom p-lg-3 price-details">
                     <span class=""> PRICE DETAILS</span>
                    </div>
     
                    <div class="p-lg-3 amount-details">
                         <div class="d-flex justify-content-between mb-2">
                             <span>MRP </span>
                             <span><i class="bi bi-currency-rupee"></i>{{ totaloriginalprice }}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-2">
                             <span>Our Price</span>
                             <span><i class="bi bi-currency-rupee"></i>{{ totalPrice }}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-2">
                             <span  style="color:green!important;">Discount  </span>
                             <span  style="color:green!important;">-  <i class="bi bi-currency-rupee"></i>{{ discount_price }}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-2">
                             <span>GST  </span>
                             <span><i class="bi bi-currency-rupee"></i>{{ GST }}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-2">
                             <span>Delivery Charges  </span>
                             <span><i class="bi bi-currency-rupee"></i>{{ Delivery }}</span>
                         </div>
                         <div class="checkout-check p-lg-2">
     
                         </div>
                    </div>
                     <div class="d-flex justify-content-between p-lg-3 total-amount">
                         <span>Total Amount </span>
                         <span><i class="bi bi-currency-rupee"></i>{{ final_cart_value }}</span>
                     </div>
                    
                 </div>
                 <span class="d-flex mt-lg-3 p-lg-2"  id="t-Head">
                     <i class="bi bi-shield-fill-check"></i>
                     <p class="ms-2">Safe and Secure Payments. Easy returns. 100% Authentic products.</p>
                 </span>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
