{% extends 'app_common/base.html' %}
{% load static %}

{% block title %}
Product Details - {{ product_obj.name }}
{% endblock title %}

{% block content %}


<section class="" id="products_of_category">
    <div class="container py-lg-5">
        <div class="row">
            <!-- side img  -->
            <div class="col col-lg-7 d-flex">
                <div class="gallery-container">
                    <div class="gallery-wrapper">
                        <div class="gallery-items">
                            {% if image_gallery %}
                                {% for image in image_gallery.images %}
                                    <div class="gallery-item">
                                        <img src="{{ MEDIA_URL }}{{ image }}" alt="Gallery Image" class="thumb"  onclick="displayMedia(this)">
                                    </div>
                                {% endfor %}
                                {% for video in image_gallery.video %}
                                    <div class="gallery-item">
                                        <video controls class="thumb" onclick="displayMedia(this)">
                                            <source src="{{ MEDIA_URL }}{{ video }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No media available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                  
                <div class="product-image" id="mediaContainer">
                    {% if product_obj.image %}
                        <img src="{{ MEDIA_URL }}{{ product_obj.image }}" alt="{{ product_obj.name }}" id="mainImage">
                    {% else %}
                        <p>No main image available.</p>
                    {% endif %}
                </div>
                
            
            </div>
            
    
    
            <!---------------------- product details ----------------- -->
            <div class="col col-lg-5">
                <div class="product-details">
                   <div class="position-relative">
                    <h1 class="text-capitalize">{{ product_obj.name }}</h1>
                    
                   </div>
                    <span class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <span>20 reviews</span>
                    </span>
                    <div class="discount-price mt-lg-3">
                        ₹{{ simple_product.product_discount_price }}
                        {% if simple_product.product_max_price %}
                        <span class="original-price"><s>₹{{ simple_product.product_max_price }}</s></span>
                        {% endif %}
                    </div>
                    
                    <!-- <button class="wishlist-btn {% if product_obj in wishlist_items %}in-wishlist{% endif %}">
    
                        {% if product_obj in wishlist_items %}
                        In Wishlist
                        {% else %}
                        <i class="fa-regular fa-heart"></i>
                        {% endif %}
                    </button> -->
                    <div class="description">
                        <h5>Description</h5>
                        <p>{{ product_obj.product_long_description }}</p>
                    </div>
                    
                    <div class="quantity-selector">
                        <label for="quantity">Quantity:</label>
                        <div class="input-group">
                            <button type="button" id="decrement" class="btn border-0">-</button>
                            <input type="number" id="quantity" name="quantity" value="1" min="1" max="6" class="form-control text-center w-25">
                            <button type="button" id="increment" class="btn  border-0">+</button>
                        </div>
                        <small id="quantityHelp" class="form-text text-muted">Maximum 6 units per product.</small>
                    </div>
                    <div class="stock-Details">
                        <span>Stock: {{ simple_product.stock }}</span>
                    </div>

                    <div class="product-deatils-Buttons d-flex gap-lg-4 mt-4">
                        <a href="#" id="addToCartButton" class="u-button">
                            Add To Cart
                        </a>
                        <a href="#" id="Buynow-Button" class="u-button">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------------------- product long description-------------------- -->
        <div class="py-lg-4">
            <h5 class="border-bottom text-center p-lg-3">Description</h5>
            <p>{{ product_obj.product_long_description }}</p>
        </div>
        </div>
    
        <div class="similar-products container py-3">
            <h3>Similar Products</h3>
            <div class="row">
                {% for item in similar_simple_products %}
               <div class="col col-lg-2 col-md-4 col-6">
                <div class="product-card">
                    <a href="{% url 'product:product_detail' item.product.id %}">
                        {% if item.product.image %}
                            <img src="{{ MEDIA_URL }}{{ item.product.image }}"  class="card-img-top" alt="{{ item.product.name }}">
                        {% else %}
                            <img src="{% static 'default_image.jpg' %}" class="card-img-top" alt="Default Image">
                        {% endif %}
                    </a>
                    <div class="card-body p-1">
                        <h6 class="card-title">{{ item.product.name  | truncatechars:18 }}</h6>
                        <p class="card-text m-0">{{ item.product.product_short_description | truncatechars:20 }}</p>
                        <p class="card-text">
                            <span class="price" id="discount_price">₹{{ item.simple_product.product_discount_price }}</span>
                            {% if item.simple_product.product_max_price %}
                            <span class="original-price" id="max_price"><s>₹{{ item.simple_product.product_max_price }}</s></span>
                            {% endif %}
                        </p>
                        <a href="{% url 'product:product_detail' item.product.id %}" class="btn btn-success product-btn w-100">Product Details</a>
                    </div>
                </div>
               </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>








<script>
    function displayMedia(mediaElement) {
    const mediaContainer = document.getElementById('mediaContainer');
    if (mediaElement.tagName === 'IMG') {
        mediaContainer.innerHTML = `<img src="${mediaElement.src}" alt="Selected Image">`;
    } else if (mediaElement.tagName === 'VIDEO') {
        mediaContainer.innerHTML = `<video controls autoplay>
                                        <source src="${mediaElement.querySelector('source').src}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>`;
    }
}

</script>

<script>
    document.getElementById('increment').addEventListener('click', function() {
        let quantityInput = document.getElementById('quantity');
        let currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity < 6) {
            quantityInput.value = currentQuantity + 1;
        }
    });

    document.getElementById('decrement').addEventListener('click', function() {
        let quantityInput = document.getElementById('quantity');
        let currentQuantity = parseInt(quantityInput.value);
        if (currentQuantity > 1) {
            quantityInput.value = currentQuantity - 1;
        }
    });

    document.getElementById('addToCartButton').addEventListener('click', function(event) {
        event.preventDefault();
        let quantity = document.getElementById('quantity').value;
        let url = "{% url 'cart:addtocart' product_obj.pk %}?quantity=" + quantity;
        window.location.href = url;
    });
</script>





{% endblock content %}
